# v1.3.18 June 8, 2014
# https://github.com/bevry/base

# Temp Files
**/*.log
**/.docpad.db

# Build Files
build/
components/
bower_components/
node_modules/

# Development Files
.editorconfig
.jshintrc
coffeelint.json
.travis*
Cakefile
Makefile
BACKERS.md
CONTRIBUTING.md
HISTORY.md
**/src/
**/test/

# Other Package Definitions
template.js
component.json
bower.json

# =====================================
# CUSTOM MODIFICATIONS

out/ace
out/images
out/test
out/CNAME
out/editor.js
out/editor.html
out/index.js
out/index.html
out/style.css
.env