<div class='announcement-dialog'>
  <button class='close-button'></button>
  <h3 class='heading'>
    <strong class='title'>js2coffee 2.0 has been released</strong>
    <span class='date'>Feb 1, 2015</span>
  </h3>
  <p>
    js2coffee has been rewritten from the ground up.
    Be sure to check the <a href=''>migration guide</a> if you've been
    using it since 0.x.
  </p>
</div>
<button class='announcement-banner'>
  <i class='icon'></i>
  <strong class='title'>js2coffee 2.0 has been released</strong>
  <span class='date'>Feb 1, 2015</span>
  <span class='expando'></span>
</button>

