<div class='announcement-dialog'>
  <button class='close-button'></button>
  <h3 class='heading'>
    <strong class='title'>{{ site.data.announcement.title }}</strong>
    <span class='date'>{{ site.data.announcement.date }}</span>
  </h3>

  {{ site.data.announcement.body | markdownify }}

  <p class='share-buttons'>
    <a class='share-button twitter' href='https://twitter.com/share?url=http://js2.coffee/&amp;text=js2coffee 2.0 - javascript to coffeescript compiler, rewritten!' target='_blank'>Tweet</a>
    {% include github-button.html %}
    <!-- <a href="http://news.ycombinator.com/submit" data-url="http://js2.coffee/" class="hn-share-button">Vote on HN</a> -->
    <!-- <script src="//hnbutton.appspot.com/static/hn.min.js" async defer></script> -->
  </p>
</div>

<button class='announcement-banner'>
  <i class='icon'></i>
  <strong class='title'>{{ site.data.announcement.title }}</strong>
  <span class='date'>{{ site.data.announcement.date }}</span>
  <span class='expando'></span>
</button>
