<div class='announcement-dialog'>
  <button class='close-button'></button>
  <h3 class='heading'>
    <strong class='title'>js2coffee 2.0 is out!</strong>
    <span class='date'>Feb 1, 2015</span>
  </h3>
  <p>
    js2coffee has been rewritten from the ground up, featuring a new parser.
    Feel free to <a href='https://github.com/js2coffee/js2coffee/issues'>report</a>
    any issues you encounter and contribute patches.
  <p>
    Moving from v0.3? Be sure to check the <a
      href='https://github.com/js2coffee/js2coffee/blob/master/notes/Migration_guide.md'>migration
    guide</a>.
  </p>
</div>

<button class='announcement-banner'>
  <i class='icon'></i>
  <strong class='title'>js2coffee 2.0 is out!</strong>
  <span class='date'>Feb 1, 2015</span>
  <span class='expando'></span>
</button>

