<div class='mobile-view'>
  <a href='http://github.com/js2coffee/js2coffee' class='js2c-logo'></a>
  <a href='http://npmjs.com/js2coffee' class='code-example'>
    npm install -g js2coffee
  </a>
  <p>
    A JavaScript to CoffeeScript compiler. Open this site, <b>js2.coffee</b>,
    in your computer for a demo.
  </p>
  <p>
    <iframe src="support/github-btn.html?user=js2coffee&repo=js2coffee&type=star&size=large&count=true" frameborder="0" scrolling="0" width="160px" height="30px"></iframe>
  </p>
</div>
