<div class='main-sidebar'>
  <a href='https://github.com/js2coffee/js2coffee' class='js2c-logo'></a>
  <a href='https://npmjs.com/js2coffee' class='code-example'>
    npm install -g js2coffee
  </a>

  <div class='section'>
    <label class='checkbox-row'>
      <input type='checkbox' role='compat'></input>
      <span>Compatibility mode</span>
    </label>
  </div>

  <div class='section'>
    JavaScript to
    <a href='http://coffeescript.org'>CoffeeScript</a> compiler.
  </div>

  <div class='bottom'>
    {% comment %}
    <div class='section share-section'>
      {% include github-button.html %}
    </div>
    {% endcomment %}

    <ul class='links-list'>
      <li>
        <a class='github' href='https://github.com/js2coffee/js2coffee'>Source code</a>
      </li>
      <li>
        <a class='issues' href='https://github.com/js2coffee/js2coffee/issues'>Report issues</a>
      </li>
    </ul>

    <div class='section ad-section'>
      <script async type="text/javascript" src="//cdn.carbonads.com/carbon.js?zoneid=1673&serve=C6AILKT&placement=js2coffee" id="_carbonads_js"></script>
    </div>
  </div>
</div>
