<div class='main-sidebar'>
  <a href='http://github.com/js2coffee/js2coffee' class='js2c-logo'></a>
  <a href='http://npmjs.com/js2coffee' class='code-example'>
    npm install -g js2coffee
  </a>

  <div class='section'>
    <label class='checkbox-row'>
      <input type='checkbox' role='compat'></input>
      <span>Compatibility mode</span>
    </label>
  </div>

  <div class='section'>
    JavaScript to
    <a href='http://coffeescript.org'>CoffeeScript</a> compiler. This is v2.0
    that's under development.
  </div>

  <div class='bottom'>
    <ul class='links-list'>
      <li>
        <a class='github' href='https://github.com/js2coffee/js2coffee'>Source code</a>
      </li>
      <li>
        <a class='issues' href='https://github.com/js2coffee/js2coffee/issues'>Report issues</a>
      </li>
    </ul>

    <div class='section share-section'>
      {% include github-button.html %}
    </div>
  </div>
</div>
