---
---

@import url('http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400')

$bg: #20242a
$text: #ddd
$monospace: menlo, monospace

*
  box-sizing: border-box
  text-rendering: optimizeLegibility
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

html
  background: $bg

html, input, textarea, td
  font-family: 'source sans pro', sans-serif
  line-height: 1.5
  font-size: 1em

html, body
  margin: 0
  padding: 0
  height: 100%

body
  font-size: 14px
  color: $text

.code-area
  width: 80%
  height: 100%
  position: absolute
  top: 0
  left: 0

/*
 * heh
 */

.toolbar
  background: lighten($bg, 1%)
  box-shadow: 0 0 4px rgba(black, 0.1)
  width: 20%
  height: 100%
  position: absolute
  top: 0
  right: 0
  padding: 30px

  .bottom
    position: absolute
    bottom: 0
    padding: 30px
    left: 0

  h1, h5
    margin: 0
    padding: 0

  h1
    font-weight: 300
    margin: 0
    font-size: 1.5em
    text-align: center
    border: solid 2px lighten($bg, 5%)
    padding: 30px 0
    border-radius: 3px
    margin-bottom: 15px

  h5
    font-weight: 400
    text-transform: uppercase
    font-size: 0.7em
    letter-spacing: 1px
    color: #888

/*
 * each code box
 */

.code-box
  &
    width: 50%
    height: 100%
    position: relative
    float: left
    $size: 2px
    box-shadow: inset (-2*$size) 0 ($size) (-1*$size) rgba(black, 0.1)

  h3
    position: absolute
    top: 0
    left: 30px
    right: 30px

    padding: 10px 0
    font-size: 0.8em
    opacity: 0.5
    border-bottom: solid 1px lighten($bg, 8%)

    strong
      font-weight: 300
      text-transform: uppercase
      letter-spacing: 2px

    em
      font-style: normal
      font-weight: 400
      opacity: 0.4
      margin-left: 10px

  textarea, .CodeMirror, 
    position: absolute
    top: 0
    left: 0
    height: 100%
    width: 100%

    padding: 30px
    padding-top: 70px

  textarea
    color: $text
    margin: 0
    border: 0
    overflow: auto
    resize: none

/*
 * codemirror customization
 */

.CodeMirror
  &.CodeMirror.CodeMirror
    font-family: $monospace
    background: transparent
    box-shadow: none

  .CodeMirror-gutters.CodeMirror-gutters
    background: transparent
    border-right: 0
    box-shadow: none

  .CodeMirror-lint-marker-warning,
  .CodeMirror-lint-marker-error,
  .CodeMirror-lint-marker-multiple
    opacity: 0.9
    transform: scale(0.6) translate(5px, 5px)
  .CodeMirror-lint-marker-multiple
    opacity: 0

/*
 * errors
 */

.error-display
  position: absolute
  z-index: 10
  left: 0%
  bottom: 0
  margin: 0
  padding: 30px
  width: 50%
  background: darken($bg, 2%)
  color: mix($text, $bg, 60%)

  font-family: $monospace
  font-size: 0.9em
