iframe {
    width: 100%;
    height: 500px;
    border: 0;
}
* {
    font-family: Verdana;
}
.version {
    padding-top: 5px;
    color: #aaaaaa;
    font-size: 9pt;
    position: absolute;
}
.version.left {
    left: 2.5%;
}
.version.right {
    right: 2.5%;
}

#info {
    background: #4d362d url(images/bg-brown.jpg);
    margin: 0 0 0 0;
    overflow: hidden;
    position: relative;
    color: #eeeeee;
    text-shadow: 1px 1px 0 rgba(0,0,0,0.15);
}
h1 {
    text-align: center;
    color: #d77d2d;
    text-transform: uppercase;
    font-size: 18px;
    font-family: serif;
    letter-spacing: 4px;
}
h2 {
    text-align: center;
    font-size: 26px;
    color: #ffffff;
}
#info .logo {
    margin: 90px 0 0 0;
    height: 70px;
    background: #eceae6;
    border-top: solid 2px #253a3a;
    border-bottom: solid 2px #253a3a;
    text-align: center;
}
.logo img {
    position: relative;
    top: -63px;
}
#info article {
    background: url(images/bg-blue.jpg);
    padding: 20px;
    padding-top: 80px;
}
#info article>.c {
    max-width: 400px;
    padding-left: 200px;
    margin: 0 auto;
}
.c p, .c code {
    font-size: 15px;
    line-height: 23px;
}
h3 {
    color: #d77d2d;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 9pt;
}
#info h3 {
    text-align: right;
    margin: 0;
    padding: 0;
    margin-left: -200px;
    margin-top: 28px;
    width: 170px;
    float: left;
    
}
#info code {
    background: rgba(250,250,250,0.2);
    border: solid 1px rgba(221,221,221,0.2);
}
#info a:hover, #info a:visited:hover {
    background: rgba(0,0,0,0.2);
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    -o-border-radius: 2px;
    -ms-border-radius: 2px;
    -khtml-border-radius: 2px;
    border-radius: 2px;
}
#info a, #info a:visited {
    color: #f7e5d5;
}
#info a, #info a:visited {
    color: #f7e5d5;
}
a:visited {
    color: #3882a8;
}
a {
    color: #337799;
    text-decoration: none;
}

body {
    margin: 0;
}
#info p.more-info {
    margin: -4px 0 80px 0;
    padding: 0;
    text-align: center;
}
#info p.more-info a {
    display: inline-block;
    background: rgba(0,0,0,0.5);
    -moz-border-radius-bottomleft: 4px;
    -webkit-border-bottom-left-radius: 4px;
    -o-border-bottom-left-radius: 4px;
    -ms-border-bottom-left-radius: 4px;
    -khtml-border-bottom-left-radius: 4px;
    border-bottom-left-radius: 4px;
    -moz-border-radius-bottomright: 4px;
    -webkit-border-bottom-right-radius: 4px;
    -o-border-bottom-right-radius: 4px;
    -ms-border-bottom-right-radius: 4px;
    -khtml-border-bottom-right-radius: 4px;
    border-bottom-right-radius: 4px;
    font-family: lato,sans-serif;
    letter-spacing: 3px;
    font-size: 7pt;
    font-weight: normal;
    color: #aaaaaa;
    text-shadow: 1px 1px 0 rgba(0,0,0,0.3);
    padding: 5px 30px;
}
#info p.more-info a:hover {
    background: rgba(215,125,45,0.7);
    color: white;
}


#overlay{ /* we set all of the properties for are overlay */
    
    width:50%;
    margin:0 auto;
    background:#eceae6;
    color:black;
    padding:10px;
    position:absolute;
    top:15%;
    left:25%;
    z-index:1000;
    display:none;
    font-size: 15px;
    line-height: 23px;
}

#mask{ /* create are mask */
    position:fixed;
    top:0;
    left:0;
    background:rgba(0,0,0,0.6);
    z-index:500;
    width:100%;
    height:100%;
    display:none;
}
/* use :target to look for a link to the overlay then we find are mask */
#overlay:target, #overlay:target + #mask{
    display:block;
    opacity:1;
}
.close{ /* to make a nice looking pure CSS3 close button */
    display:block;
    float: right;
    color: black !important;
    height:40px;
    width:40px;
    line-height:40px;
    font-size:35px;
    text-decoration:none;
    text-align:center;
    font-weight:bold;
}